auto-install-peers=true
shamefully-hoist=false
strict-peer-dependencies=false
public-hoist-pattern[]=*@sveltejs*
public-hoist-pattern[]=*svelte*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*turbo*
node-linker=isolated
